node_modules
.DS_store
package-lock.json
# branch.config.ts
.eslintcache
# zero-installs
.yarn/install-state.gz
.yarn/cache
.yarn/patches
.yarn/plugins
.yarn/sdks
.yarn/versions
# intell
.idea
.idea/**/**
