node_modules
.DS_store
package-lock.json
yarn-error.log

.env
# zero-installs
.yarn/cache
.yarn/versions
.yarn/install-state.gz
.yarn/unplugged

# intell
.idea
.idea/**/**

/coverage

tsconfig.build.tsbuildinfo

dist/*

.env
